*.user
*.aeproperties
.vs/
*.tmp
*.Generated.cs
*.cachefile
*.csvSettings
Dodgeball/Dodgeball/bin/
Dodgeball/Dodgeball/obj/
Dodgeball/DodgeballContent/obj/
*.metaproj
*.sln.metaproj
DesktopGlSync/DesktopGlSync/bin/
DesktopGlSync/DesktopGlSync/obj/
*.mgcontent
